body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    max-width: 1366px;
    margin: auto;
}

a {
    text-decoration: none;
}

footer a, header a {
    color: white;
}

ul{
    list-style: none;
}

/* Botones */

.button{
    border-radius: 62px;
    border-color: #419488;
    width: 233px;
    Height: 51px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center; 
    border-style: solid;
    cursor: pointer;
}

.button-verde{
    background: #419488;
    color: #FFFFFF;
}

.button-rosa-outline{
    color: #FF4081;
    border-color: #FF4081;
    background-color: white;
    border-width: 1px;
}

.button-rosa{
    color: white;
    border-color: #FF4081;
    background-color: #FF4081;
    border-width: 1px;
}

.button-branco-outline{
    color: white;
    border-color: white;
    background-color: transparent;
    border-width: 1px;
}

/* titulos */

h1.h1-rosa{
    font-size: 60px;
    color: #ff4081;
}

h5.h5-rosa{
    font-size: 35px;
    color: #ff4081;
}

.quadro-cinza {
    background-color: #F7F7F7;
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding-bottom: 10rem;
  }
  
    
  .quadro-cinza .conjuntos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quadro-cinza .informacoes{
    margin-bottom: 3rem;
  }
