.educacao {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
}

h4 {
  font-size: 27px;
  font-weight: 400;
  line-height: 31px;
  color: #555555;
}



.quadro-cinza img {
  height: 500px;
  margin-top: 10rem;
  
}


h1 {
  color: #009688;
  font-size: 37px;
  font-weight: 700;
 
}

.sobre-nos {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.colaboradores {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.colaborador {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.colaborador img {
  margin-right: 3rem;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.mais-conteudo {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }

.conteudo-interno{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.caixas{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  width: 100%;
}

.mais-conteudo button{
  margin-bottom: 2rem;
}

.caixas-conteudos {
  justify-content: center;
  margin-top: 5rem;
}


.titulo-caixa {
  color: #009688;
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  margin-top: 1rem;
}

.retangulo-caixa {
  width: 319px;
  height: 193px;
  background-color: #C4C4C4;
}

.button-posts {
margin-top: 5rem;
display: flex;
justify-content: start;
margin-bottom: 12rem;

}

.button-posts button {
  background-color: #E5E5E5;
}
